03 html-css/src/product-list.pug
include snippets/html-basis.pug
include snippets/header.pug
include snippets/footer.pug
include snippets/side-panel.pug
include snippets/product-card.pug

- var products = [{  link: 'https://www.myntra.com/trolley-bag/safari/safari-unisex-black-regloss-antiscratch-large-suitcase/1850670/buy', img: 'http://assets.myntassets.com/assets/images/1850662/2017/5/19/11495186291209-Safari-Unisex-Maroon-Regloss-Antiscratch-Small-Trolley-Suitcase-1591495186290981-1.jpg',  title: 'Unisex Black Regloss-Antiscratch Large Suitcase'}, {  link: 'https://www.myntra.com/trolley-bag/safari/safari-unisex-black-regloss-antiscratch-large-suitcase/1850670/buy', img: 'http://assets.myntassets.com/assets/images/1850662/2017/5/19/11495186291209-Safari-Unisex-Maroon-Regloss-Antiscratch-Small-Trolley-Suitcase-1591495186290981-1.jpg',  title: 'Unisex Black Regloss-Antiscratch Large Suitcase'}, {  link: 'https://www.myntra.com/trolley-bag/safari/safari-unisex-black-regloss-antiscratch-large-suitcase/1850670/buy', img: 'http://assets.myntassets.com/assets/images/1850662/2017/5/19/11495186291209-Safari-Unisex-Maroon-Regloss-Antiscratch-Small-Trolley-Suitcase-1591495186290981-1.jpg',  title: 'Unisex Black Regloss-Antiscratch Large Suitcase'}, {  link: 'https://www.myntra.com/trolley-bag/safari/safari-unisex-black-regloss-antiscratch-large-suitcase/1850670/buy', img: 'http://assets.myntassets.com/assets/images/1850662/2017/5/19/11495186291209-Safari-Unisex-Maroon-Regloss-Antiscratch-Small-Trolley-Suitcase-1591495186290981-1.jpg',  title: 'Unisex Black Regloss-Antiscratch Large Suitcase'}, {  link: 'https://www.myntra.com/trolley-bag/safari/safari-unisex-black-regloss-antiscratch-large-suitcase/1850670/buy', img: 'http://assets.myntassets.com/assets/images/1850662/2017/5/19/11495186291209-Safari-Unisex-Maroon-Regloss-Antiscratch-Small-Trolley-Suitcase-1591495186290981-1.jpg',  title: 'Unisex Black Regloss-Antiscratch Large Suitcase'}, {  link: 'https://www.myntra.com/trolley-bag/safari/safari-unisex-black-regloss-antiscratch-large-suitcase/1850670/buy', img: 'http://assets.myntassets.com/assets/images/1850662/2017/5/19/11495186291209-Safari-Unisex-Maroon-Regloss-Antiscratch-Small-Trolley-Suitcase-1591495186290981-1.jpg',  title: 'Unisex Black Regloss-Antiscratch Large Suitcase'},];

+html-basis({
  title: "Product list",
  class: "page-product-list"
})
  +header({
    logged: true
  })
  .page-container
    +side-panel({
      opened: false,
      defaultMode: 'login'
    })
    main.container-lg
      .product-container
        each product in products
          +product-card({
            link: product.link,
            img: product.img,
            title: product.title
          })
  +footer()

03 html-css/build/product-list.html

<html>
  <head>
    <title>Product list - Sell it!</title>
    <link rel="stylesheet" href="css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>
  <body class="page-product-list">
    <header class="header">
      <div class="header__logo"><a href="#"><img src="img/logo-blue--sm.png"/></a></div>
      <div class="header__search">
        <form class="header__search-form">
          <button class="header__search-btn"><img src="img/icon-search.svg"/></button>
          <input class="header__search-input"/>
        </form>
      </div>
      <div class="header__account">
        <div class="header__account-wrapper"><a class="header__account-profile" href="#"> <img class="header__account-avatar" src="img/avatar.png"/><span class="header__account-name">Name Name rgergerg ergergegergergerg ergergergegeer</span></a><a href="#"><img class="header__account-icon" src="img/icon-account.svg"/></a>
        </div>
        <div class="header__account-submenu"><a class="btn">Add new post</a><a class="btn">Profile       </a></div>
      </div>
    </header>
    <div class="page-container">
      <div class="side-panel side-panel--login"><img class="side-panel__logo" src="img/logo-white--md.png"/>
        <div class="side-panel__mode">
          <label class="btn btn--white side-panel__mode-btn side-panel__mode-btn--active">
            <input type="radio" name="log" value="login" checked="checked"/>Sign In
          </label>
          <label class="btn btn--white side-panel__mode-btn">
            <input type="radio" name="log" value="signup"/>Sign Up
          </label>
        </div>
        <div class="side-panel__form">
          <form class="log-form">
            <label class="log-form__field">
              <input class="log-form__input" type="email" required="required" placeholder=" "/><span class="log-form__text">Email</span>
            </label>
            <label class="log-form__field">
              <input class="log-form__input" type="password" required="required" placeholder=" "/><span class="log-form__text">Password</span>
            </label>
            <button class="btn btn--white btn--full log-form__submit">login</button>
          </form>
        </div>
      </div>
      <main class="container-lg">
        <div class="product-container">
          <div class="product-card"><a href="https://www.myntra.com/trolley-bag/safari/safari-unisex-black-regloss-antiscratch-large-suitcase/1850670/buy"><img class="product-card__img" src="http://assets.myntassets.com/assets/images/1850662/2017/5/19/11495186291209-Safari-Unisex-Maroon-Regloss-Antiscratch-Small-Trolley-Suitcase-1591495186290981-1.jpg"/>
              <p class="product-card__title">Unisex Black Regloss-Antiscratch Large Suitcase</p></a></div>
          <div class="product-card"><a href="https://www.myntra.com/trolley-bag/safari/safari-unisex-black-regloss-antiscratch-large-suitcase/1850670/buy"><img class="product-card__img" src="http://assets.myntassets.com/assets/images/1850662/2017/5/19/11495186291209-Safari-Unisex-Maroon-Regloss-Antiscratch-Small-Trolley-Suitcase-1591495186290981-1.jpg"/>
              <p class="product-card__title">Unisex Black Regloss-Antiscratch Large Suitcase</p></a></div>
          <div class="product-card"><a href="https://www.myntra.com/trolley-bag/safari/safari-unisex-black-regloss-antiscratch-large-suitcase/1850670/buy"><img class="product-card__img" src="http://assets.myntassets.com/assets/images/1850662/2017/5/19/11495186291209-Safari-Unisex-Maroon-Regloss-Antiscratch-Small-Trolley-Suitcase-1591495186290981-1.jpg"/>
              <p class="product-card__title">Unisex Black Regloss-Antiscratch Large Suitcase</p></a></div>
          <div class="product-card"><a href="https://www.myntra.com/trolley-bag/safari/safari-unisex-black-regloss-antiscratch-large-suitcase/1850670/buy"><img class="product-card__img" src="http://assets.myntassets.com/assets/images/1850662/2017/5/19/11495186291209-Safari-Unisex-Maroon-Regloss-Antiscratch-Small-Trolley-Suitcase-1591495186290981-1.jpg"/>
              <p class="product-card__title">Unisex Black Regloss-Antiscratch Large Suitcase</p></a></div>
          <div class="product-card"><a href="https://www.myntra.com/trolley-bag/safari/safari-unisex-black-regloss-antiscratch-large-suitcase/1850670/buy"><img class="product-card__img" src="http://assets.myntassets.com/assets/images/1850662/2017/5/19/11495186291209-Safari-Unisex-Maroon-Regloss-Antiscratch-Small-Trolley-Suitcase-1591495186290981-1.jpg"/>
              <p class="product-card__title">Unisex Black Regloss-Antiscratch Large Suitcase</p></a></div>
          <div class="product-card"><a href="https://www.myntra.com/trolley-bag/safari/safari-unisex-black-regloss-antiscratch-large-suitcase/1850670/buy"><img class="product-card__img" src="http://assets.myntassets.com/assets/images/1850662/2017/5/19/11495186291209-Safari-Unisex-Maroon-Regloss-Antiscratch-Small-Trolley-Suitcase-1591495186290981-1.jpg"/>
              <p class="product-card__title">Unisex Black Regloss-Antiscratch Large Suitcase</p></a></div>
        </div>
      </main>
    </div>
    <footer class="footer">
      <p>2017 - front-end labs Light IT</p>
    </footer>
  </body>
</html>
